* {
  margin: 0;
  padding: 0;
  ;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background: rgb(85, 130, 202);
  color: aliceblue;
  text-align: center;
  pad: 1rem;
}

.world-display {
  margin-top: 3rem;
  font-size: 80px;
  color: rgb(85, 130, 202);

}

.world-input-box {
  margin-top: 2rem;
  ;
}

.word-input {
  padding: 0.5rem;
  width: 300px;
}

.game-info {
  margin-top: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  width: 200px;

}

.button {
  width: 200px;
  height: 35px;
  background: rgb(85, 130, 202);
  color: #fff;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}

.loading {
  background: #ccc;
  cursor: not-allowed;
}